.travis.yml
CONTRIBUTING.md
COPYRIGHT
LICENSE
README.md
u2f-chrome-extension
u2f-ref-code
u2f-tests
u2fdemo-876b57d6173a.json.enc
clientsecret.json.enc
pom.xml
src
WEB-INF
css
favicon.ico
img
jquery
origins.json
u2f-api_test.js
u2fdemo.js
